*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



    nav {
      background-color: #1e293b;
      position: fixed;
      top: 0;
      left: 0;
      width: 20%;
          height: 100vh;
      display: flex;
      flex-direction: column;
    }

    nav a {
      color: white;
      padding: 15px 20px;
      text-decoration: none;
      border-top: 1px solid #334155;
      display: flex;
      align-items: center;
    }

    nav a i {
      margin-right: 10px;
    }

    nav a:hover {
      background-color: #0f172a;
    }

    .main-content {
      padding: 20px;
      margin-top: 60px;
    }
    .modal-overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            display: none;
            justify-content: center;
            align-items: center;
            z-index: 999;
        }

        .modal {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 400px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .modal-title {
            font-size: 20px;
            font-weight: bold;
        }

        
        .modal-body input, .modal-body select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        .modal-footer {
            display: flex;
            justify-content: flex-end;
        }

        /* Animación de apertura del modal */
        .open {
            display: flex;
        }

        .btn-close:focus {
            outline: none;
        }
    /* Desktop */
    @media (min-width: 768px) {

      nav {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
      }

      nav a {
        border: none;
        padding: 15px 30px;
      }
    }

 
